.containServicio{
    height: 75rem;
}
.servicioList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px;
    li{
        margin: 0 15px;
    }
     p{
        text-align: left;
    }
}