$pink-background:  rgb(217, 189, 219);
$pink-gradient-background: #c29dc5;
$purple-gradient-background: #b139a76c;
$black: black;

@mixin img ($width, $height) {
    width: $width;
    height: $height;
};
