@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.form-contain {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containServicio {
  height: 75rem;
}

.servicioList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  margin: 20px;
}

.servicioList li {
  margin: 0 15px;
}

.servicioList p {
  text-align: left;
}

.containReservas {
  height: 75rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9bddb;
  margin: 0;
  font-family: "poppins";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto auto;
      grid-template-rows: 1fr auto auto;
      grid-template-areas: "nav" "contentText" "contentImg" "footer";
  width: 100%;
  height: 100%;
}

header ul li {
  display: inline-block;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#c29dc5), to(#b139a76c));
  background: linear-gradient(to top, #c29dc5, #b139a76c);
  padding: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  font-size: 20px;
  font-weight: bold;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65rem;
}

main .contentText {
  text-align: center;
  color: black;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contentText;
  background: #ffffff40;
  margin: 10px 0;
  padding: 5vh;
  border-radius: 30px;
}

main h1 {
  font-size: 50px;
  font-weight: bolder;
  color: black;
  margin-bottom: 10px;
}

main p {
  font-size: 15px;
  font-weight: 900;
}

main img {
  width: 600px;
  height: 600px;
}

#containNosotras {
  height: 75rem;
}

#containNosotras .nosotrasImg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#containNosotras .nosotrasImg img {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  margin: 5px;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#c29dc5), to(#b139a76c));
  background: linear-gradient(to bottom, #c29dc5, #b139a76c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

footer div {
  margin: 15px 0 2px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media (max-width: 1375px) {
  body {
    background-color: #d9bddb;
    margin: 0;
    font-family: "poppins";
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto auto;
        grid-template-rows: 1fr auto auto;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 950px) {
  body {
    background-color: #d9bddb;
    margin: 0;
    font-family: "poppins";
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto auto;
        grid-template-rows: 1fr auto auto;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contentImg_video {
    width: 600px;
    height: 400px;
    margin: 10px;
  }
  .reservas_img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 730px) {
  body {
    background-color: #d9bddb;
    margin: 0;
    font-family: "poppins";
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto auto;
        grid-template-rows: 1fr auto auto;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contentImg_video {
    width: 550px;
    height: 350px;
    margin: 10px;
  }
  .reservas_img {
    width: 400px;
    height: 400px;
  }
  #containNosotras {
    height: 65rem;
  }
  #containNosotras .nosotrasImg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  #containNosotras .nosotrasImg img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 5px;
  }
}

@media (max-width: 500px) {
  body {
    background-color: #d9bddb;
    margin: 0;
    font-family: "poppins";
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto auto;
        grid-template-rows: 1fr auto auto;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contentImg_video {
    width: 400px;
    height: 200px;
    margin: 10px;
  }
  .reservas_img {
    width: 300px;
    height: 300px;
  }
  #containNosotras {
    height: 68rem;
  }
}
/*# sourceMappingURL=styles.css.map */